.Add{
    margin: 0 auto;
    background-image: url("https://assets.deutschlandfunk.de/FILE_6bdad2b629073b32b7a8aaf82aef0511/1280x720.jpg?t=1597555082982");
}
.AddInner{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
   
    h2{
        color: black !important;
        font-family: DM Serif Display;
        font-size: 60px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
     }
     p{   margin-top: -15px;
        color: black !important;
        font-family: Lexend Deca;
        font-size: 24px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }
    .form{
     display: flex;
     flex-direction: column;
     
    }
}
ul{
    display: flex;
    flex-direction: column;
    .inp{
        margin-top: 20px;
        margin-bottom: 20px;
        width: 350px;
        color: greenyellow !important;
    }
}

.kat{
    color:white !important;
}
.addButton{
    width: 180px;
    height: 45px;
    flex-shrink: 0;
    background: green;
    border: 3px solid black;   
    border-radius: 10px;
    color: white !important;
    font-family: Lexend Deca;
    font-size: 20px;
   font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0 auto;
}
.section{
    margin-bottom: 20px !important;
    width: 200px !important;
    margin: 0 auto;
    margin-left: 55px;
}